@{
  ViewData["Title"] = "Log In";
  Layout = "_Layout";
}
@using Pierre.ViewModels
@model LoginViewModel

<h2>Log into your account</h2>
<hr />

@if (!ViewData.ModelState.IsValid)
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:")
}
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Email)
  @Html.TextBoxFor(model => model.Email)
  <br />
  @Html.LabelFor(model => model.Password)
  @Html.EditorFor(model => model.Password)
  <br />
  <input type="submit" value="log in" class="button-55" />
}
<p class="button-55">@Html.ActionLink("Register for an account", "Register")</p>
<p class="button-55">@Html.ActionLink("back to accounts", "Index")</p>