@{
  ViewData["Title"] = "Home";
  Layout = "_Layout";
}
@using Pierre.Models;

<div class="container">
  <div class="row">
    <div class="col" id="splashCard">
      <h3 class="text-center">Treats</h3>
      @if (Model["treats"].Length == 0)
      {
        <p>No treats have been added yet!</p>
      }
      @foreach (Treat treat in Model["treats"])
      {
        <h5 class="text-center">@Html.ActionLink(@treat.Name, "Details", "Treats", new { id = @treat.TreatId })</h5>
      }
    </div>
    <div class="col" id="splashCard">
      <h3 class="text-center">Flavors</h3>
      @if (Model["flavors"].Length == 0)
      {
        <p>No flavors have been added yet!</p>
      }
      @foreach (Flavor flavor in Model["flavors"])
      {
        <h5 class="text-center">@Html.ActionLink(@flavor.Type, "Details", "Flavors", new { id = @flavor.FlavorId })</h5>
      }
    </div>
  </div>