@{
  ViewData["Title"] = "Add treat";
  Layout = "_Layout";
}
@model Pierre.Models.Treat;
<h3>Add new treat</h3>
<hr />
<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new
    {
      @class = "text-danger",
      @style = "font-weight: 600;"
    })
</p>
<p>@Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger", @style = "font-weight: 600;" })
</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br />
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <br />
  @Html.LabelFor(model => model.Price)
  @Html.TextBoxFor(model => model.Price)
  <br />
  <input type="submit" value="add" class="button-55" />
}