@{
  ViewData["Title"] = "See flavor details";
  Layout = "_Layout";
}
@using Pierre.Models
@model Pierre.Models.Flavor
<h2>Flavor: @Html.DisplayFor(model => model.Type)</h2>
<hr />
@if (@Model.FlavorTreats.Count == 0)
{
  <p>No treats attached to this flavor yet...</p>
}
else
{
  <h4>Associated treats</h4>
  @foreach(FlavorTreat join in Model.FlavorTreats)
  {
    <h3>@join.Treat.Name</h3>
    @using (Html.BeginForm("DeleteTreat", "Flavors"))
    {
      @Html.Hidden("joinId", @join.FlavorTreatId)
      @Html.Hidden("flavorId", Model.FlavorId)
      <input type="submit" value="🗑️" />
    }
  }
}
<p>@Html.ActionLink("Add treat to this flavor", "AddTreat", new { id = Model.FlavorId })</p>
<hr />
<p>@Html.ActionLink("🔄 Update info", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("🗑️ Delete", "Delete", new { id = Model.FlavorId })</p>
